:root {
  /* color */
  --black-color: #2B2C30;
  --orange-color: #FF7A00;
  --blue-color: #2858FF;
  --white-color: #F2F2F2;
  --background-color: #F7F9FF;
  --grey-light-color: #F6F6F6;
  --grey-dark-color: #1C1C1E;

  /* fong-size */
  --font-micro: 24px;
  --font-small: 32px;
  --font-medium: 40px;
  --font-large: 80px;
  --font-huge: 112px;

  /* padding */
  --side-padding: 24px;
}

body {
  margin: 0;
  font-family: Pretendard;
  background-color: var(--background-color);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p, span, li, a, label, button {
  color: var(--black-color);
  font-weight: bold;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

.blue-text {
  color: var(--blue-color);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: var(--side-padding) calc(var(--side-padding)*2);

  .navbar__logo {
    font-size: var(--font-small);
  }

  .navbar__auth ul {
    display: flex;

    li {
      margin-right: var(--side-padding);
    }
  }
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 900px;
  background-color: var(--background-color);

  .img-upload {
    position: absolute;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
    background-color: var(--background-color);  
  }

  .search-area__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--side-padding)*2);

    p:nth-child(1) {
      font-size: var(--font-medium);
      color: var(--black-color);
    }

    p:nth-child(2) {
      font-size: calc(var(--font-micro)-8px);
      margin-top: 19px;
      color: var(--grey-dark-color);
      opacity: 0.4;
    }
  }

  .search-area__step1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    > span {
      font-size: 20px;
      margin-bottom: 36px;
      color: var(--black-color);
    }

    ul {
      display: flex;
      margin: 0;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        button {
          font-size: 36px;
          width: 100px;
          height: 100px;
          margin: 0 30px;
          background-color: var(--background-color);
          padding: var(--side-padding);
          border: 2px solid var(--grey-dark-color); opacity: 0.3;
          border-radius: 16px;
        }

        span {
          font-size: 20px;
          margin: 15px 0;
          color: var(--grey-dark-color); opacity: 0.3;
        }

        button.clicked {
          background-color: var(--blue-color); opacity: 1;
          border: none;
          color: #F5F5F5;
        }
  
        span.clicked {
          color: var(--black-color); opacity: 1;
        }
      }
    }
  }

  .search-area__step2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    > span {
      font-size: 20px;
      margin-bottom: 26px;
      color: var(--black-color);
    }
  }

  .search-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    border-radius: 49.5px;
    
    label {
      cursor: pointer;
      color: var(--white-color);
      font-size: var(--font-medium);
      padding: calc(var(--side-padding)*2.5) calc(var(--side-padding)*5);
    }

    #choose-file {
      visibility: hidden;
      position: absolute;
    }
  }

  /* Result success */
  .result-success {
    visibility: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;

    > div:nth-child(1) {
      margin: 50px 170px 100px 170px;
    }

    .back-search-area {
      background-color: var(--blue-color);
      font-size: var(--font-micro);
      width: 160px;
      height: 50px;
      color: #FFFFFF;
      border-radius: 50px;
    }

    .lecture-recommend {
      margin-top: 60px;

      > span {
        font-size: 64px;
        color: var(--black-color);
      }

      > div {
        display: flex;
        margin-top: 60px;
      }

      .lecture-recommend__img {
        display: flex;
        flex-direction: column;
        align-items: center;

        > span {
          margin-top: 25px;
          font-size: 20px;
          color: #A1A1A1;
          text-align: center;
        }
      }

      .lecture-recommend__lectures {
        margin-left: 170px;

        >span {
          font-size: var(--font-medium);
        }
      }

      .lecture-recommend__lectures > ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        li {
          border-radius: 17px;
          width: 30%;
          margin-bottom: 15px;
        }
      }
    }

    .result-comment {
      background-color: var(--background-color);
      width: 100%;
      padding: 50px 0 100px 0;

      .result-comment__ai {
        padding: 26px 170px;
        display: flex;
        align-items: center;

        .result-comment__ai__logo {
          display: flex;
          background-color: var(--grey-light-color);
          width: 112px;
          height: 112px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          box-shadow: 4px 4px 6px #e4e4e4;
          
          > img {
            width: 50px;
          }
        }

        > span {
          font-size: 32px;
          margin-left: 46px;
        }
      }

      .result-comment__text-area {
        background-color: var(--grey-light-color);
        margin: 0 170px;
        border-radius: 30px;

         > p {
          font-size: var(--font-micro);
          margin: 0;
          padding: 60px 50px;
         }
      }
    }
  }
}

/* Img Loading */
.img-loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  height: 900px;

  > span {
    font-size: var(--font-medium);
    margin-top: 50px;
  }

  > p {
    font-size: var(--font-medium);
    margin-top: 150px;
  }
}

@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }
@keyframes cube {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }

.cube {
  -webkit-animation: cube 2s infinite ease;
          animation: cube 2s infinite ease;
  height: 40px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 40px; }
  .cube div {
    background-color: rgba(255, 255, 255, 0.25);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 5px solid var(--blue-color); }
    .cube div:nth-of-type(1) {
      -webkit-transform: translateZ(-20px) rotateY(180deg);
              transform: translateZ(-20px) rotateY(180deg); }
    .cube div:nth-of-type(2) {
      -webkit-transform: rotateY(-270deg) translateX(50%);
              transform: rotateY(-270deg) translateX(50%);
      -webkit-transform-origin: top right;
              transform-origin: top right; }
    .cube div:nth-of-type(3) {
      -webkit-transform: rotateY(270deg) translateX(-50%);
              transform: rotateY(270deg) translateX(-50%);
      -webkit-transform-origin: center left;
              transform-origin: center left; }
    .cube div:nth-of-type(4) {
      -webkit-transform: rotateX(90deg) translateY(-50%);
              transform: rotateX(90deg) translateY(-50%);
      -webkit-transform-origin: top center;
              transform-origin: top center; }
    .cube div:nth-of-type(5) {
      -webkit-transform: rotateX(-90deg) translateY(50%);
              transform: rotateX(-90deg) translateY(50%);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center; }
    .cube div:nth-of-type(6) {
      -webkit-transform: translateZ(20px);
              transform: translateZ(20px); }

.section-content {
  background-color: white;
  padding-top: var(--side-padding);
}
        
.section-content > div {
  margin: calc(var(--side-padding)*5);
}

.section-content01 {
  display: flex;
  justify-content: space-between;

  .side-copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .side-copy__logo {
      display: flex;
      flex-direction: column;

      .side-copy__logo__icon {
        display: flex;
        width: 74px;
        height: 74px;
        background-color: var(--grey-light-color);  
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        img {
          width: 34px;
          height: 34px;
        }
      }

      span {
        font-size: var(--font-small);
        margin-top: 20px;
      }
    }

    .side-copy__text {
      margin-top: calc(var(--side-padding)*5);

      p {
        font-size: var(--font-large);
        margin: var(--side-padding) 0;
      }

      .small {
        font-size: var(--font-small);
      }
    }
    
  }

  .side-img {
    display: flex;
    
    .side-img-example {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 var(--side-padding);

      .main-img {
        width: 464px;
        height: 501px;
      }

      .fa-arrow-down {
        font-size: var(--font-medium);
      }

      .sub-imgs img {
        width: 224px;
        height: 126px;
      }
    }
  }

}

.section-content02 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .side-img {
    display: flex;
    flex-direction: column;
    
    img {
      margin: var(--side-padding) 0;
    }
  }

  .side-copy {
    display: flex;
    flex-direction: column;
    align-items: end;

    .hashtags ul {
      display: flex;
      
      li {
        margin-left: var(--side-padding);
        font-size: var(--font-small);
      }
    }

    > span {
      font-size: var(--font-huge);
      margin: calc(var(--side-padding)*2) 0;
    }

    .lecture-list-btn {
      background-color: var(--blue-color);
      border-radius: 49.5px;
      width: 400px;
      height: 83px;

      a {
        color: var(--white-color);
        font-size: var(--font-small);
      }
    }
  }
}

